ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page37209016.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^as12$ page37213952.html [NC]
RewriteRule ^as12/$ page37213952.html [NC]

RewriteRule ^header$ page37250536.html [NC]
RewriteRule ^header/$ page37250536.html [NC]

RewriteRule ^as8$ page37250612.html [NC]
RewriteRule ^as8/$ page37250612.html [NC]

RewriteRule ^as03$ page37250634.html [NC]
RewriteRule ^as03/$ page37250634.html [NC]


